@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Open Sans', sans-serif;

}
.table-container {
  display: flex;
  justify-content: center;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

th {
  text-align: left;
  font-weight: bold;
  width: 150px;
}

td {
  text-align: center;
}
.login{

 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
 max-width: 400px;
 margin: 0 auto;
 padding: 20px;
}
.input-field {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}
.register{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}