@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Open Sans', sans-serif;

}
.table-container {
  display: flex;
  justify-content: center;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

th {
  text-align: left;
  font-weight: bold;
  width: 150px;
}

td {
  text-align: center;
}